{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% block tabs %}
<ul class="nav nav-tabs px-3">
    {% block tab_items %}
    <li class="nav-item" role="presentation">
        <a class="nav-link{% if not active_tab %} active{% endif %}" href="{{ object.get_absolute_url }}">{{ object|meta:"verbose_name"|bettertitle }}</a>
    </li>
    {% endblock tab_items %}
    {% if perms.extras.view_objectchange %}
    <li role="presentation" class="nav-item">
        <a href="{% url 'plugins:netbox_bgp:password_changelog' pk=object.pk %}" class="nav-link{% if active_tab == 'changelog'%} active{% endif %}">Change Log</a>
    </li>
    {% endif %}
</ul>
{% endblock tabs %}
{% block content %}
<div class="row mb-3">
    <div class="col col-md-5">
        <div class="card">
            <h5 class="card-header">BGP Password</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Password</th>
                        <td><input type='password' id='password' value="{{ object.password }}" disabled>
                        <i class="mdi mdi-eye text-success" id="togglePassword" onclick="showPassword()" style="cursor: pointer; margin-left: -30px; z-index: 100;"></i></td>
                        <script>
                            function showPassword() {
                                var input_type = document.getElementById("password");
                                var toggle_class = document.getElementById("togglePassword")
                                if (input_type.type === "password") {
                                    input_type.type = "text";
                                    toggle_class.classList.remove("mdi", "mdi-eye")
                                    toggle_class.classList.add("mdi", "mdi-eye-off")
                                } else {
                                    input_type.type = "password";
                                    toggle_class.classList.remove("mdi", "mdi-eye-off")
                                    toggle_class.classList.add("mdi", "mdi-eye")
                                }
                            }
                        </script>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
    </div>
</div>
{% endblock content %}